{% extends 'base/bases.html' %}
{% block content %}
{% load static %}
 <main role="main">
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="project-sidebar">
                            <!-- Place your project images here -->
                            <figure><img src="{% static 'imgs/Bao.jpg' %}" alt="" class="img-fluid"></figure>

                        </div>
                    </div>
                    <!-- end:col -->
                    <div class="col-md-5 pl-lg-5 pl-md-5">
                        <div class="sticky-top pt-5">
                            <h1>
                                LƯƠNG GIA BẢO
                            </h1>
                            <p class="lead mt-4">
                              "Có 1 thứ tiền không thể mua được, đó là sự nghèo khó"
                            </p>
                            <hr class="mt-5">
                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <p><strong>Mã số sinh viên</strong>
                                        <br>xx - xxx - 030</p>
                                    <p><strong>Vai Trò Trong Nhóm</strong>
                                        <br>Content Creator</p>
                                        <p><strong>Liên Hệ</strong>
                                            <br><span>Facebook: </span><a href="https://www.facebook.com/minh.trangia.52035 ">Lương Gia Bảo</a></p>
                                </div>

                            </div>
                            <!-- end:col -->
                        </div>
                    </div>
                </div>
                <!-- end:row -->
                <hr class="mt-5">
            </div>
        </section>
    </main>
{% endblock content %}