<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>For TTuc</title>

</head>
<body style="background: black;">
{% load static %}
<form>
  Your Name: <input type="text" name="fname" placeholder="Your Name?">
  <button type="button"
          onclick="show()" id="btnID">Submit</button>
</form>
<br>
<img  id="image" class="w3-container w3-center w3-animate-top" src="{% static 'imgs/output.jpg' %}" style="display: none;" height="100%" width="100%">

</body>
 <script>
        function show() {

            /* Access image by id and change
            the display property to block*/
            document.getElementById('image')
                    .style.display = "block";

            document.getElementById('btnID')
                    .style.display = "none";
        }
    </script>
</html>