{% extends 'base/bases.html' %}
{% block content %}
{% load static %}
 <main role="main">
        <section class="pt-4">
            <div class="container">
                <div style="background: red; opacity: 0.2;border-radius: 5px; height: 30px; padding: 3px;"><h2 style="text-align: center; font-size: 23px;">Sản Phẩm</h2></div>
                <br>
                <h6 style="text-align: center;">Coming Soon...!</h6>
                <hr style="border: none; border-top: 1px dotted #f00; color: #fff; background-color: #fff; height: 1px; width: 50%;">

                <div class="row d-flex align-items-center" >
                    <div style="background: red; opacity: 0.2; height: 40px; weight: 60px; padding: 10px; border-radius: 0px 25px 25px 0px;" ><h2 style="text-align: center; font-size: 20px;">TimeLine</h2></div>
                    <div style=" background-image: url('{% static 'imgs/dainganhabackground.png'  %}');">
                    <img src="{% static 'imgs/hopdong2.png' %}" height="100%" width="100%">
                        </div>
                </div>
                <hr class="mt-5">
            </div>
        </section>
    </main>
{% endblock content %}