{% load static %}
<footer class="position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-auto mt-4">
                    <img src="{% static 'imgs/LOGO.png' %}" height="130px" width="130px">
                </div>
                <div class="col-lg-3 mt-4 ml-auto">
                    <ul class="list-unstyled footer-link">
                        <li><a href="https://www.facebook.com/ceonhy.avie"><span style="text-decoration: underline;">Cao Uyển Nhi</span></a></li>
                        <li><a href="https://www.facebook.com/hailong.nguyen.1865"><span style="text-decoration: underline;">Nguyễn Hải Long</span></a></li>
                        <li><a href="https://www.facebook.com/hinam201"><span style="text-decoration: underline;">Võ Hải Nam</span></a></li>
                        <li><a href="https://www.facebook.com/vo.long.39545464"><span style="text-decoration: underline;">Võ Hồ Bảo Long</span></a></li>
                        <li><a href="https://www.facebook.com/QuocDai0"><span style="text-decoration: underline;">Nguyễn Quốc Đại</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mt-4 ml-auto">
                    <ul class="list-unstyled footer-link">
                        <li><a href="https://www.facebook.com/anh.phamhuynhmy.7"><span style="text-decoration: underline;">Phạm Huỳnh Mỹ Anh</span></a></li>
                        <li><a href="https://www.facebook.com/NguyenTanLoc2004"><span style="text-decoration: underline;">Nguyễn Tấn Lộc</span></a></li>
                        <li><a href="https://www.facebook.com/ttkimhuyen"><span style="text-decoration: underline;">Thái Thị Kim Huyền</span></a></li>
                        <li><a href="https://www.facebook.com/whytheyfearr"><span style="text-decoration: underline;">Đặng Trần Anh Khoa</span></a></li>
                        <li><a href="https://www.facebook.com/minh.trangia.52035"><span style="text-decoration: underline;">Lương Gia Bảo</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-auto ml-lg-auto mt-4">
                    <ul class="list-unstyled footer-link">
                        <li></li>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <!-- Please note.You are not allowed to remove credit link.Please respect that.-->
                        <li><a href="https://sharebootstrap.com">des by sharebootstrap</a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
 </footer>