{% load static %}
<footer class="position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-auto mt-4">
                    <br>
                    <img src="{% static 'imgs/truong.png' %}" height="100px" width="auto">
                </div>
                <div class="col-lg-auto mt-4">
                    <img src="{% static 'imgs/LOGO.png' %}" height="170px" width="auto">
                </div>
                <div class="col-lg-5 mt-4 ml-auto">
                    <ul class="list-unstyled footer-link">
                        <li>Email: <a href="mailto:xghostsk22@gmail.com"><span style="text-decoration: underline;">xghostsk22@gmail.com</span></a></li>
                        <li>Địa Chỉ: <a href="https://goo.gl/maps/SVwEXu22arxNjMzf9"><span style="text-decoration: underline;">227, Nguyễn Văn Cừ, Quận 5, TPHCM</span></a></li>
                        <li>Liên Hệ: <a href="mailto:cunhi22@clc.fitus.edu.vn"><span style="text-decoration: underline;">Cao Uyển Nhi (Leader)</span></a></li>
                        <li>Liên Hệ: <a href="mailto:nqdai22@clc.fitus.edu.vn"><span style="text-decoration: underline;">Nguyễn Quốc Đại (Thư Ký)</span></a></li>

                    </ul>
                </div>

                <div class="col-lg-auto ml-lg-auto mt-4">
                    <ul class="list-unstyled footer-link">
                        <!-- Please note.You are not allowed to remove credit link.Please respect that.-->
                        <li><a href="https://sharebootstrap.com">template of sharebootstrap</a></li>
                        <li><a href="https://www.linkedin.com/in/avietechy/">dev by Cao Nhi</a></li>

                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
 </footer>